
/* Info
================================================== 
     Author: http://bootstraptemplates.net 
     Version: 1.0
     License: GNU General Public License version
 ================================================== 
 Info */

/*Write your custom code here.*/


.header-card-title {
    margin: 0;
}

.bg-light {
  background-image: url("/assets/img/sectionbg2.png");
  background-position: fill;
}